.about-us {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.about-us-info {
  margin-left: 60px;
  margin-right: 60px;
}

.about-us-info h1 {
  font-size: 5em;
  margin-bottom: 60px;
}

.about-us-info h2 {
  margin-bottom: 20px;
}

.about-us-info p {
  margin-bottom: 20px;
}

.signatures {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  gap: 100px;
  font-size: 1em;
  font-family: "zapfino";
  text-decoration: underline;
}

.about-us-image {
  margin-right: 0px;
}
