.blog-post-container {
  margin-top: 100px;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  margin-right: 400px;
}

.blog-post-content > h1 {
  margin-bottom: 50px;
  font-size: 4em;
  font-weight: 500;
}

.date {
  font-size: 1em;
  margin-bottom: 50px;
}

.blog-post-content > h3 {
  font-size: 2em;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 10px;
}

.blog-post-content > figure {
  margin-top: 50px;
}

.blog-post-content > .cta {
  margin-top: 50px;
  margin-bottom: 50px;
}
