.contact-section {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 100px;
  background: var(--primary-green);
}

.contact-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 60px;
}

.contact-information h1,
.contact-information a {
  color: var(--primary-grey);
}

.contact-information h1 {
  margin-bottom: 40px;
}

.contact-information i {
  padding-right: 40px;
}

.contact-information a {
  font-size: 1.5em;
  padding: 20px 0px;
}

/* Contact form */
.contact-form {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 0px;
}

form {
  padding: 40px 200px 40px 100px;
  background: var(--primary-grey);
}

input,
textarea {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1em;
}

label {
  margin-top: 40px;
  display: block;
  font-size: 1em;
}

#contactForm button {
  margin-top: 40px;
  font-size: 1em;
}

.form-error {
  display: none;
  color: red;
  font-size: 1em;
  margin-top: 2px;
}
