.header-section {
  display: flex;
  flex-direction: row;
  margin: 100px 0px 100px 60px;
  min-height: 50vh;
}

.header-information {
  flex: 1;
}

.header-information h1,
.header-information p {
  padding-bottom: 40px;
}

.header-information h1 {
  font-size: 5em;
}

.header-information p {
  font-size: 1.5em;
  font-style: italic;
  margin-right: 250px;
}

.header-image {
  flex: 1;
  background: url("../images/marco_duck_water.png") center no-repeat;
  background-size: cover;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header";
  gap: 40px;
  margin-left: 60px;
}

.about-section h2 {
  grid-area: header;
}

.about-section p {
  padding-bottom: 40px;
  margin-right: 150px;
}

.about-section img {
  width: 500px;
}

.our-dogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 60px;
  margin-left: 60px;
}

.dog img {
  width: 500px;
  height: 300px;
}

.dog-information {
  margin-top: 20px;
}

.dog-information h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}
