/* Intro */
.intro-section {
  display: flex;
  flex-direction: row;
  margin: 100px 0px 100px 60px;
  min-height: 50vh;
}

.intro-information {
  flex: 1;
}

.intro-information h1,
.intro-information p {
  padding-bottom: 40px;
}

.intro-information h1 {
  font-size: 5em;
}

.intro-information p {
  font-size: 1.5em;
  font-style: italic;
  margin-right: 250px;
}

.intro-image {
  flex: 1;
  background: url("../images/marco_duck_water.png") center no-repeat;
  background-size: cover;
}

/* About us */
.about-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "h2 h2";
  gap: 40px;
  margin-left: 60px;
}

.about-section h2 {
  grid-area: h2;
}

.about-section > div {
  display: flex;
  flex-direction: column;
}

.about-section p {
  padding-bottom: 40px;
}

.about-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about-section .cta {
  margin-top: 100px;
  margin-right: 100px;
}

/* Latest Posts */
.latest-posts-section {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

.latest-posts-section > h2 {
  margin-bottom: 60px;
}

.blog-list-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
  /*position: relative;*/
}

.blog-list-carousel-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Our Gundogs */
.our-gundogs-section {
  margin-left: 60px;
}

.our-gundogs-section > h2 {
  margin-bottom: 60px;
}

.our-dogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 60px;
}

.dog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.dog-information {
  margin-top: 20px;
}

.dog-information h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Divider */
.divider {
  margin: 100px 0px;
}

.black-line {
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
}
