@import "imports/variables.css";
@import "imports/links.css";

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), Times, serif;
  background: var(--primary-grey);
}

/* Fonts */
h1,
h2,
h3,
p {
  color: var(--primary-black);
  margin: 0px;
}

h1 {
  font-size: 5em;
  letter-spacing: 1px;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

/* Header */
header {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: left;
  width: 40%;
}

nav {
  flex: 1;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px;
}

.black-line {
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
}

/* Icons */

/* Footer */
footer {
  width: 100%;
  border-top: 1px solid;
  text-align: center;
}
