@import "imports/variables.css";
@import "imports/links.css";

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), Times, serif;
  background: var(--primary-grey);
}

/* Fonts */
h1,
h2,
h3,
p {
  color: var(--primary-black);
  margin: 0px;
}

h1 {
  font-size: 5em;
  letter-spacing: 1px;
  font-weight: 500;
}

h2 {
  font-size: 3.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

/* Header */
header {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.active {
  text-decoration: underline solid black 2px;
}

.logo {
  font-size: 3em;
  margin-left: 60px;
}

nav {
  flex: 1;
  text-align: center;
  border-bottom: solid 1px;
}

nav li {
  display: inline-block;
  padding: 20px;
}

.black-line {
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
}

/* Icons */

/* Footer */
footer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background: var(--primary-brown);
}

.footer-content1 {
  display: flex;
  flex-direction: row;
}

.footer-content1 div {
  flex: 1;
  padding-left: 50px;
}

.footer-content1 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-content1 img {
  width: 50%;
  margin-bottom: 20px;
}

.footer-content1 p {
  font-size: 1em;
}

.footer-content1 i {
  display: flex;
  margin-bottom: 20px;
  size: 20px;
}

.footer-copyright {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
  background: var(--primary-black);
  font-size: 0.6em;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 100px;
  background: var(--primary-green);
}

.contact-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 60px;
}

.contact-information h1,
.contact-information h2,
.contact-information a {
  color: var(--primary-grey);
}

.contact-information h1,
.contact-information h2 {
  margin-bottom: 40px;
}

.contact-information i {
  padding-right: 40px;
}

.contact-information a {
  font-size: 1.5em;
  padding: 20px 0px;
}

/* Contact form */
.contact-form {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 0px;
}

form {
  padding: 40px 200px 40px 100px;
  background: var(--primary-grey);
}

input,
textarea {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1em;
}

label {
  margin-top: 40px;
  display: block;
  font-size: 1em;
}

#contactForm button {
  margin-top: 40px;
  font-size: 1em;
}

.form-error {
  display: none;
  color: red;
  font-size: 1em;
  margin-top: 2px;
}
