@import "imports/variables.css";

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), Times, serif;
  background: var(--primary-grey);
}

/* Fonts */
h1,
h2,
h3,
p {
  color: var(--primary-black);
  margin: 0px;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

/* Header */
header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  margin: 10px;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 0px;
}

nav ul li {
  display: inline-block;
}

/* Icons */

/* cta */
.cta {
  font-family: var(--font);
  font-size: 1.5em;
  letter-spacing: 1px;
  color: var(--primary-grey);
  background: var(--primary-orange);
  border: none;
  width: 200px;
  padding: 1rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.cta:hover {
  transform: scale(1.1);
}
